- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category[:title]
    .videos.row
      - @videos.where(category: category.id).each do |video|
        .video.col-sm-2
          = link_to video, nil do
            %img(src="#{video.cover_image_url}")